{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pokédex{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'pokemon/styles.css' %}">
</head>
<body class="flex flex-col min-h-screen">
    <nav class="sticky top-0 z-50 backdrop-blur-md bg-white/10 border-b border-white/20 shadow-2xl">
        <div class="relative flex items-center flex-wrap justify-between gap-6 lg:gap-0 py-2 ">
      <div class="flex w-full justify-between lg:w-auto">
                <a href="{% url 'pokemon:index' %}" class="flex gap-2 items-center">
                    <div class="relative">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png" 
                             alt="Pokeball" 
                             class="w-12 h-12 pokeball-spin group-hover:scale-110 transition-transform duration-300">
                        <div class="absolute inset-0 bg-yellow-400 rounded-full blur-xl opacity-0 group-hover:opacity-50 transition-opacity"></div>
                    </div>
                    <span class="text-3xl font-black bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 bg-clip-text text-transparent">
                        Pokédex
                    </span>
                </a>
                <div class="absolute inset-0 m-auto hidden size-fit lg:block">
                    <a href="{% url 'pokemon:list' %}" 
                       class="nav-link text-black text-lg font-semibold transition-all duration-300 px-4 py-2">
                        Explorer
                    </a>
                    <a href="#" 
                       class="nav-link text-black text-lg font-semibold  transition-all duration-300 px-4 py-2">
                        Mon Équipe
                    </a>
                    <a href="#" 
                       class="nav-link text-black text-lg font-semibold transition-all duration-300 px-4 py-2">
                        Combat
                    </a>
                </div>
        </div>
    </nav>
    
    <main class="flex-grow container mx-auto px-4 py-8">
        {% block content %}{% endblock %}
    </main>

    <footer class="background-footer text-white text-center py-4 mt-8">
        <p>Projet B3 Pokédex - Données fournies par PokeAPI</p>
    </footer>
</body>
</html>
